<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{title}} • Fotogram</title>
    <link rel="stylesheet" href="/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Leckerli+One" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <script src="/trimmings.js"></script>
  </head>
  <body>
    <header>
      <div class="header-inner">
        <h1>
          <a href="/">
            Fotogram
          </a>
        </h1>
      </div>
    </header>
    <div class="flash-container">
      {{#if flash}}
        <div class="flash flash--{{flash.type}}">
          {{{flash.message}}}
        </div>
      {{/if}}
    </div>
    <main>
      {{{content}}}
    </main>
    <div class="modal-container">
    </div>
    <footer>
      Created by
      <a href="https://johnholdun.com">John Holdun</a>
      to demonstrate
      <a href="https://github.com/postlight/trimmings">Trimmings</a>!
    </footer>
    <template id="modal-template">
      <div class="modal">
        <button class="modal__close" data-trimmings-remove=".modal">
          Close
        </button>
        <div data-trimmings-inline-target></div>
      </div>
    </template>
  </body>
</html>
