<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}} – Social Photos</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>
      <a href="/">
        Social Photos
      </a>
    </h1>
    <div class="flash-container">
      {{#if flash}}
        <div class="flash flash--{{flash.type}}">
          {{{flash.message}}}
        </div>
      {{/if}}
    </div>
    {{{content}}}
    <div class="modal-container">
    </div>
    <template id="modal-template">
      <div class="modal">
        <button data-redact-remove=".modal">Close</button>
        <div data-redact-inline-target></div>
      </div>
    </template>
    <script src="/base.js"></script>
  </body>
</html>
