{{#photo}}
  <div class="full-photo">
    <img src="{{url}}" alt="{{caption}}" width="500" height="500" />
    <div class="comments">
      {{#if caption}}
        <div class="comment">
          <a href="/{{userId}}">@{{userId}}</a>
          {{caption}}
        </div>
      {{/if}}
      {{#comments}}
        <div class="comment">
          <a href="/{{userId}}">@{{userId}}</a>
          {{text}}
        </div>
      {{/comments}}
    </div>
    <div class="full-photo__actions">
      <div class="likes-count">{{likes}} likes</div>
      <form method="post" action="/photos/{{id}}/likes">
        <button>Like</button>
      </form>
      <form method="post" action="/photos/{{id}}/comments">
        <input type="text" name="text" placeholder="Add a comment…" />
        <button>Post</button>
      </form>
    </div>
  </div>
{{/photo}}
