<div class="user">
  <div class="user__photo">
    <div class="user-photo"></div>
  </div>
  <div class="user__data">
    <h1 class="user__id">
      {{user.id}}
    </h1>
    <div class="user__stats">
      <p class="user__stat">
        <b>{{user.photos.length}}</b> posts
      </p>
      <p class="user__stat">
        <b>{{user.followers}}</b> followers
      </p>
      <p class="user__stat">
        <b>{{user.following}}</b> following
      </p>
    </div>
    <p class="user__name">
      {{user.name}}
    </p>
    {{#if user.bio}}
      <p class="user__bio">
        {{user.bio}}
      </p>
    {{/if}}
  </div>
</div>
<div class="photos">
  {{#each user.photos}}
    {{> photo photo=photo}}
  {{/each}}
</div>
