.two-container {
  outline: 1px solid blue;
}

.two-container--alternate {
  outline-color: red;
}

.red-mode {
  background: #ccc;
  padding: .5rem;
}

.red-mode--enabled {
  color: red;
}

.alt-mode {
  background: #000;
  color: #fff;
  padding: .5rem;
}

.alt-mode--blue {
  background: navy;
}

.alt-mode--gren {
  background: forestgreen;
}
