* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 20px/1.5 Roboto, sans-serif;
  background: #ffffeb;
}

body {
  color: #112;
  min-height: calc(100vh - 2rem);
}

.inline-target {
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ddddff;
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  left: 0;
  top: 0;
}

.inline-target:first-child {
  animation: push .5s both;
}

.inline-target:last-child {
  animation: pop .5s both;
}

.inline-target:first-child:last-child {
  animation: none;
}

@keyframes pop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@keyframes push {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

header {
  border-bottom: 2px solid #ffffeb;
  color: #2d1260;
  margin: -1rem -1rem 1rem;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
}

header h1 {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 3rem;
}

header a {
  display: block;
  color: inherit;
  text-decoration: none;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main h1 {
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
}

main p:last-child {
  margin-bottom: 0;
}

ol, ul, li {
  list-style: none;
}

a {
  color: #3343ac;
  text-decoration: none;
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background: #3343ac;
  color: #fff;
  font-weight: bold;
  font: inherit;
  font-size: 1rem;
  line-height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.topics {
  flex: 1 1 auto;
  margin-top: 1rem;
}

.topics li {
  list-style: decimal;
  margin-left: 1.5rem;
}

.card {
  background: #fff;
  text-align: center;
  border-radius: .5rem;
}

.card__symbol {
  height: calc(100vw - 3rem);
  line-height: calc(100vw - 3rem);
  font-size: calc((100vw - 3rem) / 3 * 2);
  margin-bottom: 0;
  border-bottom: 3px solid #ddddff;
}

.card__name {
  text-align: center;
  font-weight: bold;
  line-height: 2rem;
}

.question {
  background: #fff;
  border-radius: .5rem;
}

.question__symbol {
  text-align: center;
  height: calc(100vw - 3rem);
  line-height: calc(100vw - 3rem);
  font-size: calc((100vw - 3rem) / 3 * 2);
  margin-bottom: 0;
  border-bottom: 3px solid #ddddff;
}

.answer {
  line-height: 2rem;
  padding: 0 .5rem;
  position: relative;
  overflow: hidden;
}

.answer input {
  position: absolute;
  left: 150%;
}

.answer label {
  cursor: pointer;
}

.answer--correct {
  color: #fff;
  background: #72d269;
}

.answer--incorrect {
  color: #fff;
  background: #d23e1d;
}

.redact .btn--submit {
  position: absolute;
  top: -100vw;
}

.shortcuts {
  position: absolute;
  top: -100vh;
  left: 0;
}

.shortcuts__modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000030;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcuts__inner {
  background: #fff;
  padding: 1rem;
}

.shortcuts dl {
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
}

.shortcuts dt {
  font-weight: bold;
  padding-right: 1rem;
  flex: 0 0 5rem;
}

.shortcuts dd {
  flex: 0 0 20rem;
}
