{{#unless message.sent}}
  <form data-trimmings-replace="body" method="post" action="/messages/{{message.id}}">
    <input type="hidden" name="read" value="0" />
    <button>
      Mark Unread
    </button>
  </form>
  <form data-trimmings-replace="body" method="post" action="/messages/{{message.id}}">
    <input type="hidden" name="folderId" value="{{#if message.archived}}inbox{{else}}archive{{/if}}" />
    <button>
      {{#if message.archived}}
        Return to inbox
      {{else}}
        Archive
      {{/if}}
    </button>
  </form>
  <form data-trimmings-inline="from: .composer-inner, to: .composer-holder" method="get" action="/messages/new">
    <input type="hidden" name="replyTo" value="{{message.id}}" />
    <button>
      Reply
    </button>
  </form>
  <form data-trimmings-inline="from: .composer-inner, to: .composer-holder" method="get" action="/messages/new">
    <input type="hidden" name="forwardOf" value="{{message.id}}" />
    <button>
      Forward
    </button>
  </form>
{{/unless}}
