<form method="post" action="/messages">
  <nav class="view-nav">
    <a href="{{lastLocation}}">
      {{#if unreadCount}}
        <span class="unread-count">
          {{unreadCount}}
        </span>
      {{/if}}
      Cancel
    </a>
    <div class="controls">
      <button>
        Send
      </button>
    </div>
  </nav>
  <main class="composer">
    <input type="hidden" name="destination" value="{{lastLocation}}" />
    <label for="from">From</label>
    <input id="from" type="text" name="from" readonly value="{{message.fromAddress}}" />
    <label for="to">To</label>
    <input id="to" type="text" name="to" value="{{message.toAddress}}" />
    <label for="subject">Subject</label>
    <input id="subject" type="text" name="subject" value="{{message.subject}}" />
    <hr />
    <textarea rows="10" cols="30" name="body">{{message.body}}</textarea>
  </main>
</form>
