<div class="big-sidebar-holder">
  <div class="big-sidebar">
    <h1>
      Mailboxes
    </h1>
    <a data-trimmings-inline=".big-sidebar, .big-sidebar-holder" href="/">
      Refresh
    </a>
    <ul class="folders">
      {{#folders}}
        <li>
          <a href="/{{id}}" data-trimmings-inline=".big-sidebar, .big-sidebar-holder, updateLocation: true, updateTitle: true">
            {{#if unreadCount}}
              <span class="unread-count">
                {{unreadCount}}
              </span>
            {{/if}}
            {{name}}
          </a>
        </li>
      {{/folders}}
    </ul>
  </div>
</div>
<div class="main-holder"></div>
<div class="big composer-holder"></div>
