<nav class="smol smol-nav">
  <a href="/">
    Mailboxes
  </a>
</nav>
<div class="big-sidebar-holder">
  <div class="big-sidebar">
    <div class="big">
      <a href="/" data-trimmings-inline="from: .big-sidebar, to: .big-sidebar-holder, updateLocation: true">
        Mailboxes
      </a>
    </div>
    <h1>
      {{folder.name}}
    </h1>
    <a data-trimmings-inline="from: .big-sidebar, to: .big-sidebar-holder" href="/{{folder.id}}">
      Refresh
    </a>
    <form data-trimmings-inline="from: .messages, to: .messages-holder" method="get" action="/{{folder.id}}">
      <input type="text" name="q" value="{{query}}" class="search" />
    </form>
    <div class="messages-holder">
      {{^messages}}
        <div class="messages">
          <p>Nothing to see here!</p>
        </div>
      {{/messages}}
      <ol class="messages">
        {{#messages}}
          <li>
            <a data-trimmings-inline="from: .main, to: .main-holder, updateTitle: true, updateLocation: true" href="/messages/{{id}}" class="messages__item">
              <div class="messages__item__from">
                {{from}}
              </div>
              <div class="messages__item__subject">
                {{#unless read}}
                  •
                {{/unless}}
                {{subject}}
              </div>
              <div class="messages__item__excerpt">
                {{excerpt}}
              </div>
            </a>
          </li>
        {{/messages}}
      </div>
    </ol>
  </div>
</div>
<div class="big main-holder"></div>
<div class="big composer-holder"></div>
