<nav class="view-nav">
  <a href="/">
    Mailboxes
  </a>
</nav>
<main>
  <h1>
    {{folder.name}}
  </h1>
  <form method="get" action="/{{folder.id}}">
    <input type="text" name="q" value="{{query}}" class="search" />
  </form>
  {{^messages}}
    <p>Nothing to see here!</p>
  {{/messages}}
  <ol class="messages">
    {{#messages}}
      <li>
        <a href="/messages/{{id}}" class="messages__item">
          <div class="messages__item__from">
            {{from}}
          </div>
          <div class="messages__item__subject">
            {{#unless read}}
              •
            {{/unless}}
            {{subject}}
          </div>
          <div class="messages__item__excerpt">
            {{excerpt}}
          </div>
        </a>
      </li>
    {{/messages}}
  </ol>
</main>
