<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      {{#if unreadCount}}
        ({{unreadCount}})
      {{/if}}
      {{#if title}}
        {{title}} –
      {{/if}}
      Email
    </title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <script src="/redact.js"></script>
  </head>
  <body>
    <div class="flash-container">
      {{#if flash}}
        <div class="flash flash--{{flash.type}}">
          {{{flash.message}}}
        </div>
      {{/if}}
    </div>
    {{{content}}}
  </body>
</html>
