<div class="big-sidebar-holder">
  <a class="big" data-trimmings-embed=".big-sidebar" href="/{{folder.id}}">
    {{folder.name}}
  </a>
</div>
<nav class="smol smol-nav">
  <a href="/{{folder.id}}">
    {{#if unreadCount}}
      <span class="unread-count">
        {{unreadCount}}
      </span>
    {{/if}}
    {{folder.name}}
  </a>
  <details class="controls">
    <summary>
      <div class="controls__control">
        …
      </div>
    </summary>
    <div class="controls__body">
      {{> actions message=message}}
    </div>
  </div>
</nav>
<div class="main-holder">
  <div class="message main">
    <div class="big big-actions">
      {{> actions message=message}}
    </div>
    {{#message}}
      <h1 class="message__subject {{#unless read}}message__subject--unread{{/unless}}">
        {{subject}}
      </h1>
      {{#if message.sent}}
        <p class="message__from">
          To: {{to}}
        </p>
      {{else}}
        <p class="message__from">
          From: <b>{{from}}</b>
        </p>
      {{/if}}
      <div class="message__body">
        {{{body}}}
      </div>
    {{/message}}
  </div>
</div>
<div class="big composer-holder"></div>
