<h1>{{topic.name}}</h1>
<div class="question">
  <div class="question__symbol">
    {{question.question}}
  </div>
  <form class="question__form" data-redact-autosubmit method="post" action="/questions/{{question.id}}">
    {{#answers}}
      <input type="radio" id="answer_{{@index}}" name="answer" value="{{answer}}" {{#checked}}checked{{/checked}} />
      <label for="answer_{{@index}}">{{answer}}</label>
    {{/answers}}
    {{#if answered}}
      {{#if correct}}
        <p class="result result--correct">
          That’s right!
        </p>
        {{#if nextQuestion}}
          <p>
            <a class="btn" href="/questions/{{nextQuestion.id}}">
              Continue
            </a>
          </p>
        {{else}}
          <p>
            <a class="btn" href="/topics/{{topic.id}}/complete">
              Continue
            </a>
          </p>
        {{/if}}
      {{else}}
        <p class="result result--incorrect">
          Try again!
        </p>
        <!-- <button class="btn">
          Check
        </button> -->
      {{/if}}
    {{else}}
      <!-- <button class="btn">
        Check
      </button> -->
    {{/if}}
  </form>
</div>
