* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 16px/1.5 "Open Sans", sans-serif;
}

body {
  color: #333;
  background: #f9f9f9;
}

header {
  background: #fff;
  border-bottom: 1px solid #00000019;
  padding: 1rem 3rem;
}

header h1 {
  font-weight: lighter;
  font-size: 1.5rem;
  font-family: "Leckerli One";
}

header a {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline-block;
  line-height: 2rem;
}

header a:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  background: url("/camera.svg");
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  margin: -.15rem .1rem 0 0;
}

main {
  max-width: 940px;
  margin: 0 auto;
  padding: 1rem;
}

footer {
  max-width: 940px;
  margin: 0 auto;
  padding: 1rem;
  color: #555;
}

footer a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1rem -1rem;
}

.photo {
  flex: 0 0 33.333%;
  padding: 0 1rem 2rem;
  position: relative;
  color: inherit;
  text-decoration: none;
}

.photo__user {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 2rem;
  padding: 0 1rem;
  color: #fff;
  font-weight: bold;
  font-size: .75rem;
  line-height: 4rem;
  padding-top: 3rem;
  background: linear-gradient(#00000000, #00000077);
}

.photo__avatar {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  margin-right: .5rem;
  vertical-align: middle;
}

.photo__inner {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: no-repeat center center;
  background-size: cover;
}

.flash {
  padding: 1rem;
  background: #ccc;
  position: fixed;
  z-index: 20;
  right: 1rem;
  top: 1rem;
  animation: flash ease-out 6s 1 normal both;
  width: 10rem;
}

.flash--success {
  background: #bef2c2;
}

.flash--error {
  background: #f2a09e;
}

@keyframes flash {
  0% {
    opacity: 0;
    right: 11rem;
  }

  10% {
    opacity: 1;
    right: 1rem;
  }

  83% {
    opacity: 1;
    right: 1rem;
  }

  100% {
    opacity: 0;
    right: -11rem;
  }
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000030;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > * {
  flex: 0 0 auto;
  z-index: 2;
}

.modal__close {
  z-index: 1;
  max-width: 100%;
  font-size: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}

.user {
  display: flex;
  margin: 1rem 0 2rem;
}

.user__photo {
  flex: 0 0 calc(33.333% + .5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  border: 1px solid #ccc;
}

.user-photo--small {
  width: 40px;
  height: 40px;
}

.user__name  {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2rem;
}

.user__stats {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}

.user__stat {
  margin-right: 1rem;
}

.full-photo {
  display: flex;
  max-width: 1080px;
}

.full-photo-wrapper {
  min-height: calc(100vh - 12rem);
  display: flex;
  align-items: center;
}

@media (min-width: calc(940px + 2rem)) {
  .full-photo-wrapper {
    width: 1080px;
    margin-left: -140px;
  }
}

.full-photo__photo-container {
  flex: 0 0 65%;
}

.full-photo__photo {
  display: block;
  width: 100%;
  height: auto;
}

.full-photo__meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  background: #fff;
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 0;
}

.full-photo__comments {
  flex: 1 1 auto;
  padding: 1rem 0;
}

.comment {
  padding: .25rem 1rem 0 4rem;
  margin-bottom: 1rem;
  position: relative;
  min-height: 2rem;
}

.comment--author {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.comment__avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  left: 1rem;
  top: 0;
}

.full-photo__comments a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.full-photo__actions {
  padding: 1rem 1rem 0;
  border-top: 1px solid #ccc;
}

.full-photo__actions button {
  cursor: pointer;
  font: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: bold;
  color: #0a405e;
  background: 0;
  border: 0;
}

.comment-form {
  display: flex;
  margin: 1rem -1rem 0;
  border-top: 1px solid #ccc;
}

.comment-form input {
  flex: 1 1 auto;
  font: inherit;
  border: 0;
  padding: 1rem;
}

.comment-form button {
  padding: 0 1rem;
}

.comment-form input:focus {
  outline: 0;
}

.photo-navigation {
  flex: 0 0 90px;
  display: block;
  align-self: center;
  width: 90px;
  height: 90px;
  line-height: calc(90px - 2rem);
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}

.full-photo-wrapper .photo-navigation {
  visibility: hidden;
}

.photo-navigation:before {
  content: " ";
  display: block;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  margin: 1rem;
  background: #fff url("/arrow.svg") no-repeat center center;
  background-size: 1rem;
  border-radius: 50%;
}

.photo-navigation--next:before {
  transform: rotate(180deg);
}

.photo-navigation--none:before {
  display: none;
}
