* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.5 "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  color: #354;
}

a {
  color: #0F6753;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: .1s border-color;
}

a:hover,
a:focus {
  border-bottom-color: currentColor;
}

.top {
  background: linear-gradient(#094032CC 80%, #094032D0);
  text-align: center;
}

@media (min-width: 768px) {
  .top {
    margin-bottom: 2rem;
    text-align: left;
  }
}

header {
  max-width: 55rem;
  margin: 0 auto;
  padding: 1rem;
}

header h1 {
  font-family: Palatino, Garamond, Georgia, serif;
  font-size: 2.5rem;
  line-height: 2rem;
  height: 2rem;
  font-weight: 600;
  color: #fff;
  margin: 1rem 0;
}

header h1 a {
  color: inherit;
}

header svg {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  vertical-align: baseline;
}

header svg path {
  fill: currentColor;
}

.middle {
  min-height: calc(100vh - 12rem);
}

@media (min-width: 768px) {
  .middle {
    max-width: 55rem;
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

nav {
  flex: 1 1 auto;
}

nav details {
  padding: 1rem 1rem calc(1rem - 1px);
  border-bottom: 1px solid #09403240;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  nav details {
    padding: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

nav summary {
  font-weight: bold;
  cursor: pointer;
}

nav details[open] summary {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  nav summary {
    display: none;
  }

  nav details:not([open]) summary {
    display: block;
  }
}

nav p {
  line-height: 1.5rem;
  margin: 0;
}

nav a.current {
  border-bottom-color: currentColor;
}

.sub-nav {
  margin: .5rem 0;
  padding-left: 1rem;
  border-left: 1px solid #09403240;
}

main {
  max-width: 44rem;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  main {
    padding: 0;
  }
}

main h1 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: inherit;
}

main h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: inherit;
}

main h3 {
  font: inherit;
  font-weight: 600;
}

main h1,
main h2,
main h3,
main ul,
main ol,
main p,
main pre,
main table {
  margin-bottom: 1rem;
}

main pre,
main code {
  font-family: "IBM Plex Mono", monospace;
  background: #eee;
}

main pre {
  padding: .5rem;
  margin-left: -.5rem;
  margin-right: -1rem;
  width: calc(100% + 1.5rem);
  overflow-x: auto;
}

@media (min-width: 768px) {
  main pre {
    margin-right: -.5rem;
    width: calc(100% + 1rem);
  }
}

main table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: -.5rem;
  margin-right: -.5rem;
  width: 100%;
}

main thead {
  background: #eee;
}

main th {
  padding: 0 .5rem;
}

main td {
  padding: 0 .5rem;
}

main a {
  font-weight: bold;
}

footer {
  max-width: 55rem;
  margin: 1rem auto 0;
  padding: 0 1rem 1rem;
  display: flex;
  justify-content: flex-end;
}

footer p {
  width: 44rem;
  max-width: 100%;
  font-size: .75rem;
  line-height: 1rem;
  color: #777;
}
