* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.5 "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f2f2f2;
  color: #0f0f0f;
  display: flex;
}

@media (min-width: 768px) {
  .top {
    flex: 0 0 auto;
    width: 23rem;
    padding: 6.25rem 6rem 0;
    text-align: left;
  }
}

header {
  margin-bottom: 2.8765rem;
}

header h1 a {
  color: inherit;
}

header svg {
  height: 4rem;
  width: 4rem;
  display: block;
}

.middle {
  min-height: calc(100vh - 12rem);
}

nav {
  flex: 1 1 auto;
}

nav details {
  padding: 1rem 1rem calc(1rem - 1px);
  border-bottom: 1px solid #09403240;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  nav details {
    padding: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

nav summary {
  font-weight: bold;
  cursor: pointer;
}

nav details[open] summary {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  nav summary {
    display: none;
  }

  nav details:not([open]) summary {
    display: block;
  }
}

nav p {
  line-height: 2rem;
  margin: 0 0 .5rem;
  font-weight: bold;
}

nav a {
  display: inline-block;
  color: inherit;
  line-height: 2rem;
  text-decoration: none;
}

nav a.external {
  position: relative;
  padding-right: 1.2rem;
}

nav a.external:before {
  content: " ";
  position: absolute;
  right: .22rem;
  top: .7rem;
  width: .65625rem;
  height: .59375rem;
  background: #24f2c2;
}

nav a.external:after {
  content: " ";
  width: .75rem;
  height: .75rem;
  background: url("/trimmings/assets/share.svg");
  background-size: contain;
  position: absolute;
  right: 0;
  top: .425rem;
}

nav .sub-nav p {
  font-weight: inherit;
  margin: 0;
  font-weight: normal;
}

nav a.current {
  background: #24f2c2;
}

.sub-nav {
  margin: -.5rem 0 .5rem;
}

main {
  margin: 1rem;
  padding: 11.25rem 12.5rem;
  background: #fff;
}

main h1,
main h2,
main h3,
main ul,
main ol,
main p,
main pre,
main table {
  margin-bottom: 1rem;
}

main h1 {
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  font-weight: inherit;
  position: relative;
}

main h1:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6.25rem;
  border-top: .125rem solid currentColor;
}

main h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: inherit;
  margin: 2rem 0 .5rem;
}

main h3 {
  font: inherit;
  font-weight: 600;
}

main pre,
main code {
  font-family: "IBM Plex Mono", monospace;
  background: #f6f6f6;
  color: #0f6753;
}

main pre {
  width: 40rem;
  padding: 1.5rem;
  overflow-x: auto;
}

main table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: -.5rem;
  margin-right: -.5rem;
  width: 100%;
}

main thead {
  background: #eee;
}

main th {
  padding: 0 .5rem;
}

main td {
  padding: 0 .5rem;
}

main a {
  color: inherit;
  text-decoration: underline;
}

footer {
  padding: 0 1rem;
  margin: -1rem 0 0 1rem;
  line-height: 6.625rem;
  display: flex;
  align-items: flex-start;
}

footer p {
  flex: 0 0 auto;
}

footer p + p:before {
  content: "×";
  display: inline-block;
  width: 2.5rem;
  text-align: center;
  color: #24f2c2;
}

.postlight-link {
  display: inline-block;
  overflow: hidden;
  width: 6.3888888889rem; /* 115 / 27 */
  height: 1.5rem;
  margin: 0 0 -.25rem .25rem;
  background: url("/trimmings/assets/postlight.svg");
  background-size: contain;
  text-indent: -100vw;
}
