* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 20px/30px "IBM Plex Serif", serif;
}

body {
  background: #fff;
  color: #222;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
}

body:before {
  content: " ";
  position: absolute;
  left: -50vw;
  top: 0;
  z-index: -1;
  width: 200vw;
  height: 9rem;
  background: #ffebcf;
  box-shadow: inset 0 0 1rem #9f581510;
}

a {
  color: #1d6ed7;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: .1s border-color;
}

a:hover,
a:focus {
  border-bottom-color: currentColor;
}

header h1 {
  font: inherit;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

header h2 {
  font: inherit;
}

header a {
  color: inherit;
  text-decoration: none;
}

header a:focus {
  color: #1d6ed7;
}

nav {
  display: flex;
  justify-content: flex-start;
}

nav a {
  display: block;
  margin-right: 1rem;
}

nav a.current,
nav a.current:hover,
nav a.current:focus {
  color: inherit;
  border-bottom-color: transparent;
}

main {
  margin-top: 4rem;
  min-height: calc(100vh - 15rem);
}

main h1 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}

main h2 {
  font: inherit;
  font-weight: 600;
}

main h3 {
  font: inherit;
  font-weight: 600;
}

main h1,
main h2,
main h3,
main ul,
main ol,
main p,
main pre {
  margin-bottom: 1rem;
}

main pre,
main code {
  font-family: "IBM Plex Mono", monospace;
  background: #eee;
}

main pre {
  padding: .5rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

footer p {
  font-size: .75rem;
  line-height: 1rem;
  color: #777;
}
